@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit&display=swap');
@import 'tailwindcss';

@theme {
  --spacing: 4px;
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --card-radius: 20px;
  --image-radius: 10px;
  --category-radius: 4px;
  --mobile-width: 327px;
}

.figtree-extra-bold {
  font-family: 'Figtree', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.figtree-medium {
  font-family: 'Figtree', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
